/*-----------------------------*/
/*            RESET            */
/*-----------------------------*/

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-wrap: balance;
    font-weight: 400;
}

p,
li,
figcaption {
    text-wrap: pretty;
}

input {
    outline: 3px solid hsl(203, 30%, 26%);
}

input:not(:placeholder-shown):valid {
    outline-color: var(--color-success);
}

input:not(:placeholder-shown):invalid {
    outline-color: var(--color-error);
}

input:focus:invalid {
    outline-color: var(--color-warning);
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 2 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/*-----------------------------*/
/*      CUSTOM PROPERTIES      */
/*-----------------------------*/

:root {

    /* COLORS */
    --clr-success: #28a745;
    --clr-error: #dc3545;
    --clr-warning: #ffc107;

    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* FONT-SIZES */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;  /* Regular size, p */
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* FONT-FAMILIES */
    --ff-serif: 'Bellefair', serif;
    --ff-sans-cond: 'Barlow Condensed', sans-serif;
    --ff-sans-normal: 'Barlow', sans-serif;
}


/*-----------------------------*/
/*       UTILITY CLASSES       */
/*-----------------------------*/

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem; /*Use rem*/
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* COLORS */

.bg-dark { background-color: hsl( var(--clr-dark) ); }

.text-dark { color: hsl( var(--clr-dark) ); }

/* TYPOGRAPHY */

.ff-serif { font-family: var(--ff-serif); }
.ff-sans-cond { font-family: var(--ff-sans-cond); }
.ff-sans-normal { font-family: var(--ff-sans-normal); }

.letter-spacing-1 { letter-spacing: 4.75px; }
.letter-spacing-2 { letter-spacing: 2.7px; }
.letter-spacing-3 { letter-spacing: 2.35px; }

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}


/*-----------------------------*/
/*         COMPONENTS          */
/*-----------------------------*/

.large-button {
    display: inline-grid;
    place-items: center;
    border-radius: 50%;
    padding: 0 2em;
    aspect-ratio: 1 / 1;   /* width / height   ratio */
    text-decoration: none;
}
-------------------------------------------------

body {
    min-height: 100vh;
    font-family: var(--ff-sans-normal);
    line-height: 1.5;
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) );
}
*{
    background-image: url(/assets/destination/background-destination-desktop.jpg);
}
.linea-menu{
    width: 45vw;
    color: white;
    background-color: lightgray;
    border: 2px solid lightgray;
    z-index: 5;
}

.colornav{
    background-color: #2a3d66;
    z-index: 1;
}